<div class="jumbotron">
    <h1 class="display-4">La página que buscas no existe</h1>
    
    <hr class="my-4">
   
    <p class="lead">
        <a class="btn btn-primary btn-lg mr-2" [routerLink]="['/mi-tienda/clientes']" role="button">Lista de clientes</a>
        <a class="btn btn-success btn-lg  mr-2" [routerLink]="['/mi-tienda/ordenes']" role="button">Lista de ordenes</a>
        <a class="btn btn-warning btn-lg " [routerLink]="['/mi-tienda/productos']" role="button">Lista de productos</a>
    </p>
  </div>
