<div class="mt-5 mx-auto justify-content-center">
    <div class="card text-white bg-warning" style="width: 18rem;" *ngIf="product!==null && product!==undefined">
        <img class="card-img-top" src="https://picsum.photos/300/300" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title" >{{product.nombre}} </h5>
          <p class="card-text">{{product.descripcion}}</p>
          <p>
           Precio:  <span class="badge badge-danger">$ {{product.precio}}</span>
          </p>
         
        </div>
      </div>

      <h3 class="alert alert-danger" *ngIf="product==null || product===undefined">Error al mostrar usuario</h3>
</div>
