<div *ngIf="location==='/mi-tienda/ordenes'">

  <h2 class="mt-3 mb-3">Listado de Ordenes</h2> <a class="btn btn-outline-primary"
    [routerLink]="[ '/mi-tienda/crear-orden']">Crear Orden</a>
  <table class="table mt-2" *ngIf="orders!==null && orders!==''&& orders!==undefined">
    <thead class="thead-info">
      <tr class="bg-info">
        <th scope="col">Id</th>
        <th scope="col">Producto</th>
        <th scope="col">Cliente</th>
        <th scope="col">Cantidad</th>
        <th scope="col">Fecha</th>
      </tr>
    </thead>
    <tbody>

      <tr *ngFor="let order of orders">
        <th scope="row">{{order.id}}</th>
        <td>
          <span *ngFor="let product of products">
            <a [routerLink]="[ '/mi-tienda/productos/mostrar/', product.id ]" *ngIf="product.id===order.idProducto">
              {{product.nombre}}</a>
          </span>
        </td>
        <td>
          <span *ngFor="let client of clients">
            <a [routerLink]="[ '/mi-tienda/clientes/mostrar/', client.id ]"
              *ngIf="client.id===order.idCliente">{{client.nombre}}</a>
          </span>
        </td>
        <td>{{order.cantidad}}</td>
        <td>{{order.fecha}}</td>
      </tr>

    </tbody>
  </table>

  <h3 class="alert alert-danger mt-2" *ngIf="orders==null ||  orders==undefined">Aun no hay ordenes que mostrar</h3>
</div>
<router-outlet></router-outlet>