<div *ngIf="location==='/mi-tienda/productos'">

    <h2 class="mt-3 mb-3">Listado de productos</h2>
    <table class="table" *ngIf="products!==null && products!==''&& products!==undefined">
        <thead class="thead-info">
          <tr class="bg-info">
            <th scope="col">Id</th>
            <th scope="col">nombre de producto</th>
            <th scope="col">Descripcion</th>
            <th scope="col">precio</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
            
          <tr *ngFor="let producto of products">
            <th scope="row">{{producto.id}}</th>
            <td>{{producto.nombre}}</td>
            <td>{{producto.descripcion}}</td>
            <td>{{producto.precio}}</td>
            <td><a [routerLink]="[ '/mi-tienda/productos/mostrar/', producto.id ]" class="btn btn-warning">Ver detalles</a></td>
          </tr>
        
        </tbody>
      </table>
      
 <h3 class="alert alert-danger mt-2" *ngIf="products==null ||  products==undefined">Aun no hay productos que mostrar</h3>
</div>
<router-outlet></router-outlet>

